{% extends "base.html" %}

{% block content %}
<h1>edit password</h1>
<form method="POST">
       {{form.csrf_token()}}       
    <div class="col-md-4">
      {{form.password.label(class="form-control-label")}}
      {%if form.password.errors%}
            {{form.password(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
       {% else %}
            {{form.password(class="form-control")}}
       {% endif %}
     </div>
     <div class="col-md-4">
      {{form.konf_pass.label(class="form-control-label")}}
      {%if form.konf_pass.errors%}
            {{form.konf_pass(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.konf_pass.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
       {% else %}
            {{form.konf_pass(class="form-control")}}
       {% endif %}
     </div>
      {{form.submit(class='btn btn-primary mt-3')}}
     </div>
     
  </form>
  

{% endblock content %}