{% extends 'base.html'%}

{% block content %}
<div class="shadow p-3 mb-5 bg-white rounded mt-1">
    <form action="" method="post">
        {{form.csrf_token()}}
        <div class="row">
            <div class="col-md-2">
                {{form.ed_nama.label(class="form-control-label")}}
                {%if form.ed_nama.errors%}
                    {{form.ed_nama(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.ed_nama.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.ed_nama(class="form-control form-control-sm")}}
                {% endif %}
            </div>
            <div class="col-md-3">
                {{form.ed_dapilId.label(class="form-control-label")}}
                {%if form.ed_dapilId.errors%}
                    {{form.ed_dapilId(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.ed_dapilId.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.ed_dapilId(class="form-control form-control-sm")}}
                {% endif %}
            </div>
            <div class="col-md-3">
                {{form.partaiId.label(class="form-control-label")}}
                {%if form.partaiId.errors%}
                    {{form.partaiId(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.partaiId.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.partaiId(class="form-control form-control-sm")}}
                {% endif %}
            </div>
            <div class="col-md-2">
                {{form.ed_tipeid.label(class="form-control-label")}}
                {%if form.ed_tipeid.errors%}
                    {{form.ed_tipeid(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.ed_tipeid.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.ed_tipeid(class="form-control form-control-sm")}}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mt-2">
                {{form.ed_edit(class="btn btn-primary")}}
            </div>
        </div>
        
    </form>
</div>
{% endblock content %}